* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden; /* Remove a barra de rolagem */
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./imagens/background.jpg'); /* Imagem de fundo */
    background-size: cover; /* Para cobrir todo o container */
    background-position: center; /* Para centralizar a imagem */
}

.menu {
    width: 400px; /* Largura do quadrado */
    height: 400px; /* Altura do quadrado */
    display: flex;
    flex-direction: column; /* Coluna para alinhar verticalmente */
    justify-content: space-between; /* Distribui o espaço verticalmente */
    align-items: center; /* Alinha horizontalmente */
    text-align: center; /* Alinha o texto centralmente */
    border-radius: 30px; /* Adiciona bordas arredondadas */
    background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo com transparência */
    backdrop-filter: blur(10px); /* Aplica um embaciamento */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Adiciona uma borda transparente */
}

.menu h1 {
    font-size: 32px;
    margin-top: 50px; /* Distância do topo */
    font-family: 'Arial', sans-serif;
}

.menu #start-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Espaço entre o texto e o botão "Start" */
    margin-bottom: 50px; /* Espaço entre o botão "Start" e o final do contêiner */
}

.scores {
    width: 100%; /* Largura total */
    margin-top: 20px; /* Espaço entre o texto e os campos de pontuação */
}

.scores p {
    font-size: 25px;
    margin-bottom: 10px;
}

.scores span {
    font-weight: bold;
}

#best-score,
#current-score {
    color: #333; /* Cor do texto dos campos de pontuação */
}

.scores p:first-child {
    margin-bottom: 50px; /* Adiciona uma margem inferior de 15px apenas ao primeiro parágrafo */
}

/* Cores */

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}
